<a href="https://colab.research.google.com/github/sagarmanikpuri/Amazon_Prime/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Import Important Libraries
from google.colab import files
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#Upload xlsx Data
from google.colab import files

#upload the excel file
uploaded = files.upload() #This will open a file picker in colab

#Read each uploaded files into pandas dataframe
dataframes = {} #Dictionary to store dataframes

for filename in uploaded.keys():
  df = pd.read_excel(filename)
  dataframes[filename] = df
  print(f"✅ '{filename}' uploaded successfully! Shape: {df.shape}")

# Step 4: Access each DataFrame by filename
# Example:
# df1 = dataframes['file1.xlsx']
# df2 = dataframes['file2.xlsx']

# Step 5 (Optional): Display first few rows of both DataFrames
for name, df in dataframes.items():
    print(f"\n📘 Preview of {name}:")
    print(df.head())

Saving credits.xlsx to credits.xlsx
Saving title.xlsx to title.xlsx
✅ 'credits.xlsx' uploaded successfully! Shape: (124235, 5)
✅ 'title.xlsx' uploaded successfully! Shape: (9871, 15)

📘 Preview of credits.xlsx:
   PERSON_ID       ID           NAME      CHARACTER   ROLE
0      59401  ts20945     Joe Besser            Joe  ACTOR
1      31460  ts20945     Moe Howard            Moe  ACTOR
2      31461  ts20945     Larry Fine          Larry  ACTOR
3      21174  tm19248  Buster Keaton    Johnny Gray  ACTOR
4      28713  tm19248    Marion Mack  Annabelle Lee  ACTOR

📘 Preview of title.xlsx:
        ID                        TITLE   TYPE  \
0  ts20945            The Three Stooges   SHOW
1  tm19248                  The General  MOVIE
2  tm82253  The Best Years of Our Lives  MOVIE
3  tm83884              His Girl Friday  MOVIE
4  tm56584            In a Lonely Place  MOVIE

                                         DESCRIPTION  RELEASE_YEAR  \
0  The Three Stooges were an American vaudeville ...          1934
1  During Americaâ€™s Civil War, Union spies stea...          1926
2  It's the hope that sustains the spirit of ever...          1946
3  Hildy, the journalist former wife of newspaper...          1940
4  An aspiring actress begins to suspect that her...          1950

  AGE_CERTIFICATION  RUNTIME  \
0             TV-PG       19
1               NaN       78
2               NaN      171
3               NaN       92
4               NaN       94

                                              GENRES PRODUCTION_COUNTRIES  \
0  ['comedy', 'family', 'animation', 'action', 'f...               ['US']
1  ['action', 'drama', 'war', 'western', 'comedy'...               ['US']
2                        ['romance', 'war', 'drama']               ['US']
3                     ['comedy', 'drama', 'romance']               ['US']
4                   ['thriller', 'drama', 'romance']               ['US']

   SEASONS    IMDB_ID  IMDB_SCORE  IMDB_VOTES  TMDB_POPULARITY  TMDB_SCORE
0     26.0  tt0850645         8.6      1092.0           15.424         7.6
1      NaN  tt0017925         8.2     89766.0            8.647         8.0
2      NaN  tt0036868         8.1     63026.0            8.435         7.8
3      NaN  tt0032599         7.8     57835.0           11.270         7.4
4      NaN  tt0042593         7.9     30924.0            8.273         7.6

In [3]:
df_credit = pd.read_excel("credits.xlsx")
df_title = pd.read_excel("title.xlsx")

In [4]:
# 🧹 Data Cleaning for both DataFrames

# For df_credit
print("🧾 Cleaning df_credit ...")
df_credit_before = df_credit.shape[0]

# 1️⃣ Remove duplicate rows
df_credit = df_credit.drop_duplicates()
print(f"✅ Removed {df_credit_before - df_credit.shape[0]} duplicate rows from df_credit")

# 2️⃣ Replace NaN / missing values
# For numeric columns → replace NaN with 0
# For object (text) columns → replace NaN with "Unknown"
df_credit = df_credit.fillna({
    col: 0 if pd.api.types.is_numeric_dtype(df_credit[col]) else "Unknown"
    for col in df_credit.columns
})

print("✅ Replaced all NaN values in df_credit")

# ---------------------------------------------------------------------

# For df_title
print("\n🎬 Cleaning df_title ...")
df_title_before = df_title.shape[0]

# 1️⃣ Remove duplicate rows
df_title = df_title.drop_duplicates()
print(f"✅ Removed {df_title_before - df_title.shape[0]} duplicate rows from df_title")

# 2️⃣ Replace NaN / missing values
df_title = df_title.fillna({
    col: 0 if pd.api.types.is_numeric_dtype(df_title[col]) else "Unknown"
    for col in df_title.columns
})

print("✅ Replaced all NaN values in df_title")

# ---------------------------------------------------------------------

# Optional: Verify cleaning results
print("\n📊 After Cleaning:")
print(f"df_credit shape: {df_credit.shape}")
print(f"df_title shape: {df_title.shape}")

# Check if any NaN remains
print("\n🔎 Remaining missing values:")
print("df_credit:", df_credit.isna().sum().sum())
print("df_title:", df_title.isna().sum().sum())

🧾 Cleaning df_credit ...
✅ Removed 56 duplicate rows from df_credit
✅ Replaced all NaN values in df_credit

🎬 Cleaning df_title ...
✅ Removed 3 duplicate rows from df_title
✅ Replaced all NaN values in df_title

📊 After Cleaning:
df_credit shape: (124179, 5)
df_title shape: (9868, 15)

🔎 Remaining missing values:
df_credit: 0
df_title: 0

In [5]:
# 🔍 Check Data Types and Null Counts

print("📘 df_credit Info:")
print("-" * 50)
print(df_credit.info())

print("\n🎬 df_title Info:")
print("-" * 50)
print(df_title.info())

📘 df_credit Info:
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Index: 124179 entries, 0 to 124234
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   PERSON_ID  124179 non-null  int64
 1   ID         124179 non-null  object
 2   NAME       124179 non-null  object
 3   CHARACTER  124179 non-null  object
 4   ROLE       124179 non-null  object
dtypes: int64(1), object(4)
memory usage: 5.7+ MB
None

🎬 df_title Info:
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Index: 9868 entries, 0 to 9870
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    9868 non-null   object
 1   TITLE                 9868 non-null   object
 2   TYPE                  9868 non-null   object
 3   DESCRIPTION           9868 non-null   object
 4   RELEASE_YEAR          9868 non-null   int64
 5   AGE_CERTIFICATION     9868 non-null   object
 6   RUNTIME               9868 non-null   int64
 7   GENRES                9868 non-null   object
 8   PRODUCTION_COUNTRIES  9868 non-null   object
 9   SEASONS               9868 non-null   float64
 10  IMDB_ID               9868 non-null   object
 11  IMDB_SCORE            9868 non-null   float64
 12  IMDB_VOTES            9868 non-null   float64
 13  TMDB_POPULARITY       9868 non-null   float64
 14  TMDB_SCORE            9868 non-null   float64
dtypes: float64(5), int64(2), object(8)
memory usage: 1.2+ MB
None

In [6]:
# 📊 Describe Data (summary statistics for all columns)
print("📘 df_credit Summary:")
print("-" * 60)
print(df_credit.describe(include="all"))

print("\n🎬 df_title Summary:")
print("-" * 60)
print(df_title.describe(include="all"))

📘 df_credit Summary:
------------------------------------------------------------
           PERSON_ID        ID                  NAME CHARACTER    ROLE
count   1.241790e+05    124179                124179    124179  124179
unique           NaN      8861                 79758     71097       2
top              NaN  tm458582  George 'Gabby' Hayes   Unknown   ACTOR
freq             NaN       137                    49     16278  115793
mean    4.065843e+05       NaN                   NaN       NaN     NaN
std     5.617204e+05       NaN                   NaN       NaN     NaN
min     1.000000e+00       NaN                   NaN       NaN     NaN
25%     3.898850e+04       NaN                   NaN       NaN     NaN
50%     1.339490e+05       NaN                   NaN       NaN     NaN
75%     5.712810e+05       NaN                   NaN       NaN     NaN
max     2.371153e+06       NaN                   NaN       NaN     NaN

🎬 df_title Summary:
------------------------------------------------------------
              ID           TITLE   TYPE DESCRIPTION  RELEASE_YEAR  \
count       9868            9868   9868        9868   9868.000000
unique      9868            9737      2        9735           NaN
top     ts275838  The Lost World  MOVIE     Unknown           NaN
freq           1               3   8511         119           NaN
mean         NaN             NaN    NaN         NaN   2001.345561
std          NaN             NaN    NaN         NaN     25.792295
min          NaN             NaN    NaN         NaN   1912.000000
25%          NaN             NaN    NaN         NaN   1996.000000
50%          NaN             NaN    NaN         NaN   2014.000000
75%          NaN             NaN    NaN         NaN   2018.000000
max          NaN             NaN    NaN         NaN   2022.000000

       AGE_CERTIFICATION      RUNTIME     GENRES PRODUCTION_COUNTRIES  \
count               9868  9868.000000       9868                 9868
unique                12          NaN       2028                  497
top              Unknown          NaN  ['drama']               ['US']
freq                6484          NaN        908                 4807
mean                 NaN    85.979124        NaN                  NaN
std                  NaN    33.515714        NaN                  NaN
min                  NaN     1.000000        NaN                  NaN
25%                  NaN    65.000000        NaN                  NaN
50%                  NaN    89.000000        NaN                  NaN
75%                  NaN   102.000000        NaN                  NaN
max                  NaN   549.000000        NaN                  NaN

            SEASONS  IMDB_ID   IMDB_SCORE    IMDB_VOTES  TMDB_POPULARITY  \
count   9868.000000     9868  9868.000000  9.868000e+03      9868.000000
unique          NaN     9202          NaN           NaN              NaN
top             NaN  Unknown          NaN           NaN              NaN
freq            NaN      667          NaN           NaN              NaN
mean       0.383867      NaN     5.358168  7.644601e+03         6.529014
std        1.813821      NaN     2.221067  4.354039e+04        29.207926
min        0.000000      NaN     0.000000  0.000000e+00         0.000000
25%        0.000000      NaN     4.700000  6.600000e+01         1.033750
50%        0.000000      NaN     5.900000  3.400000e+02         2.341000
75%        0.000000      NaN     6.800000  1.763250e+03         5.300250
max       51.000000      NaN     9.900000  1.133692e+06      1437.906000

         TMDB_SCORE
count   9868.000000
unique          NaN
top             NaN
freq            NaN
mean       4.722771
std        2.788604
min        0.000000
25%        3.300000
50%        5.700000
75%        6.700000
max       10.000000

In [7]:
#Make all column name uppercase
df_title.columns = df_title.columns.str.upper()

#verify
print(df_title.columns)

Index(['ID', 'TITLE', 'TYPE', 'DESCRIPTION', 'RELEASE_YEAR',
       'AGE_CERTIFICATION', 'RUNTIME', 'GENRES', 'PRODUCTION_COUNTRIES',
       'SEASONS', 'IMDB_ID', 'IMDB_SCORE', 'IMDB_VOTES', 'TMDB_POPULARITY',
       'TMDB_SCORE'],
      dtype='object')

In [8]:
#Merge Data
df = pd.merge(df_credit, df_title, on="ID", how="inner")

In [9]:
#Merged data
df.head()

,PERSON_ID,ID,NAME,CHARACTER,ROLE,TITLE,TYPE,DESCRIPTION,RELEASE_YEAR,AGE_CERTIFICATION,RUNTIME,GENRES,PRODUCTION_COUNTRIES,SEASONS,IMDB_ID,IMDB_SCORE,IMDB_VOTES,TMDB_POPULARITY,TMDB_SCORE
0,59401,ts20945,Joe Besser,Joe,ACTOR,The Three Stooges,SHOW,The Three Stooges were an American vaudeville ...,1934,TV-PG,19,"['comedy', 'family', 'animation', 'action', 'f...",['US'],26.0,tt0850645,8.6,1092.0,15.424,7.6
1,31460,ts20945,Moe Howard,Moe,ACTOR,The Three Stooges,SHOW,The Three Stooges were an American vaudeville ...,1934,TV-PG,19,"['comedy', 'family', 'animation', 'action', 'f...",['US'],26.0,tt0850645,8.6,1092.0,15.424,7.6
2,31461,ts20945,Larry Fine,Larry,ACTOR,The Three Stooges,SHOW,The Three Stooges were an American vaudeville ...,1934,TV-PG,19,"['comedy', 'family', 'animation', 'action', 'f...",['US'],26.0,tt0850645,8.6,1092.0,15.424,7.6
3,21174,tm19248,Buster Keaton,Johnny Gray,ACTOR,The General,MOVIE,"During Americaâ€™s Civil War, Union spies stea...",1926,Unknown,78,"['action', 'drama', 'war', 'western', 'comedy'...",['US'],0.0,tt0017925,8.2,89766.0,8.647,8.0
4,28713,tm19248,Marion Mack,Annabelle Lee,ACTOR,The General,MOVIE,"During Americaâ€™s Civil War, Union spies stea...",1926,Unknown,78,"['action', 'drama', 'war', 'western', 'comedy'...",['US'],0.0,tt0017925,8.2,89766.0,8.647,8.0

In [10]:
# 📊 Basic Structure of the merged DataFrame

# 1️⃣ Rows and Columns
print("🔹 Shape of DataFrame (rows, columns):", df.shape)

# 2️⃣ Column Names
print("\n🔹 Column Names:")
print(df.columns)

# 3️⃣ Data Types and Non-Null Counts
print("\n🔹 DataFrame Info:")
df.info()

# 4️⃣ Summary Statistics (numeric + categorical)
print("\n🔹 Summary Statistics:")
df.describe(include='all')

🔹 Shape of DataFrame (rows, columns): (124179, 19)

🔹 Column Names:
Index(['PERSON_ID', 'ID', 'NAME', 'CHARACTER', 'ROLE', 'TITLE', 'TYPE',
       'DESCRIPTION', 'RELEASE_YEAR', 'AGE_CERTIFICATION', 'RUNTIME', 'GENRES',
       'PRODUCTION_COUNTRIES', 'SEASONS', 'IMDB_ID', 'IMDB_SCORE',
       'IMDB_VOTES', 'TMDB_POPULARITY', 'TMDB_SCORE'],
      dtype='object')

🔹 DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124179 entries, 0 to 124178
Data columns (total 19 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   PERSON_ID             124179 non-null  int64
 1   ID                    124179 non-null  object
 2   NAME                  124179 non-null  object
 3   CHARACTER             124179 non-null  object
 4   ROLE                  124179 non-null  object
 5   TITLE                 124179 non-null  object
 6   TYPE                  124179 non-null  object
 7   DESCRIPTION           124179 non-null  object
 8   RELEASE_YEAR          124179 non-null  int64
 9   AGE_CERTIFICATION     124179 non-null  object
 10  RUNTIME               124179 non-null  int64
 11  GENRES                124179 non-null  object
 12  PRODUCTION_COUNTRIES  124179 non-null  object
 13  SEASONS               124179 non-null  float64
 14  IMDB_ID               124179 non-null  object
 15  IMDB_SCORE            124179 non-null  float64
 16  IMDB_VOTES            124179 non-null  float64
 17  TMDB_POPULARITY       124179 non-null  float64
 18  TMDB_SCORE            124179 non-null  float64
dtypes: float64(5), int64(3), object(11)
memory usage: 18.0+ MB

🔹 Summary Statistics:

,PERSON_ID,ID,NAME,CHARACTER,ROLE,TITLE,TYPE,DESCRIPTION,RELEASE_YEAR,AGE_CERTIFICATION,RUNTIME,GENRES,PRODUCTION_COUNTRIES,SEASONS,IMDB_ID,IMDB_SCORE,IMDB_VOTES,TMDB_POPULARITY,TMDB_SCORE
count,1.241790e+05,124179,124179,124179,124179,124179,124179,124179,124179.000000,124179,124179.000000,124179,124179,124179.000000,124179,124179.000000,1.241790e+05,124179.000000,124179.000000
unique,NaN,8861,79758,71097,2,8748,2,8834,NaN,12,NaN,1965,482,NaN,8268,NaN,NaN,NaN,NaN
top,NaN,tm458582,George 'Gabby' Hayes,Unknown,ACTOR,Coming 2 America,MOVIE,Prince Akeem Joffer is set to become King of Z...,NaN,Unknown,NaN,['drama'],['US'],NaN,Unknown,NaN,NaN,NaN,NaN
freq,NaN,137,49,16278,115793,137,116026,137,NaN,67472,NaN,9853,69217,NaN,5303,NaN,NaN,NaN,NaN
mean,4.065843e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1996.307186,NaN,95.577706,NaN,NaN,0.153488,NaN,5.677502,2.213707e+04,10.176702,5.500824
std,5.617204e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.752141,NaN,30.166205,NaN,NaN,0.989185,NaN,1.766123,8.641507e+04,40.763003,2.074027
min,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1912.000000,NaN,1.000000,NaN,NaN,0.000000,NaN,0.000000,0.000000e+00,0.000000,0.000000
25%,3.898850e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1983.000000,NaN,83.000000,NaN,NaN,0.000000,NaN,5.100000,2.155000e+02,1.886000,5.000000
50%,1.339490e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009.000000,NaN,93.000000,NaN,NaN,0.000000,NaN,6.000000,1.081000e+03,3.896000,6.000000
75%,5.712810e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.000000,NaN,109.000000,NaN,NaN,0.000000,NaN,6.800000,6.359000e+03,8.795000,6.800000
max,2.371153e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022.000000,NaN,540.000000,NaN,NaN,49.000000,NaN,9.900000,1.133692e+06,1437.906000,10.000000

In [11]:
#check for remaining null values
df.isna().sum()

#check duplicates in merged data
df.duplicated().sum()

np.int64(0)